# ==========================================
# GOOGLE CLOUD PLATFORM (GCP) SETTINGS
# ==========================================
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCS_BRONZE_BUCKET_NAME=bronze-raw-data-bucket-your-suffix

# BigQuery - Silver and Gold Layers
BQ_SILVER_DATASET=silver_trusted_dataset
BQ_GOLD_DATASET=gold_analytical_mart



# ==========================================
# APACHE AIRFLOW SETTINGS (Docker Compose)
# ==========================================
AIRFLOW_UID=50000



# ==========================================
# EXTERNAL APIs
# ==========================================
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
PVGIS_BASE_URL=https://re.jrc.ec.europa.eu/api/v5_2/PVcalc